
<div class="container">
  <div class="heading text-center">
      Users List
      <button class="btn pull-right" ng-click="logout()">Logout</button>
  </div>
  <div class="table-container clearfix">
    <div class="table-head col-md-12">
      <div class="record col-md-5">Email</div>
      <div class="record col-md-3">Status</div>
      <div class="record col-md-4">Action</div>
    </div>
    <div class="table-content col-md-12" ng-repeat = "user in users track by $index">
      <div class="record col-md-5 ptr"><a href="#/user?{{user.id}}">{{user.email}}</a></div>
      <div class="record col-md-3">{{user.status}}</div>
      <div class="record col-md-4 ">
        <span ng-if="user.status == 'open'"><button class="btn accept-btn" ng-click="acceptUser(user.id,$index)">Accept</button><button class="btn rej-btn"ng-click="deleteUser(user.id,$index)">Reject</button></span>
              <button class="btn" ng-if="user.status == 'closed'" ng-click="deleteUser(user.id,$index)">Remove</button>
      </div>
    </div>
  </div>
</div>
<!-- <div class="table-responsive custom-responsive">
  <table class="table styleone-table clearfix">
     <caption class="workflow-head-label">Users List</caption>
      <thead class="clearfix">
          <tr class="clearfix">
            <th class="text-uppercase workflow-candidate-name">Email</th>
            <th class="text-uppercase">Status</th>
            <th class="text-uppercase">Action</th>
          </tr>
      </thead>
      <tbody>
        
        <tr ng-repeat = "user in users track by $index"  class="clist clearfix">
            <td  class="workflow-candidate-name-val" style="padding-left:0px;">
              <span><a href="#/user?{{user.id}}">{{user.email}}</a></span>
            </td>
            <td><span>{{user.status}}</span></td>
            <td>
            	<span ng-if="user.status == 'open'"><button ng-click="acceptUser(user.id,$index)">Accept</button><button ng-click="deleteUser(user.id,$index)">Reject</button></span>
            	<button ng-if="user.status == 'closed'" ng-click="deleteUser(user.id,$index)">Remove</button>
            </td>
        </tr>
      </tbody>
  </table>
</div> -->